*{
    margin: 0px;
    padding: 0px;
}
.active{
    color: black;
}
a{
    text-decoration: none;
    color: black;
}
.under{
    background-color: whitesmoke;
    display: none;
    position: sticky;
    bottom: 3px;
    width: 100%;
    text-align: center;
    font-size: large;
    opacity: 0.9;
    box-sizing: border-box;
    box-shadow: 2px 0px 3px;

}
body{
    background: linear-gradient(hsla(0, 9%, 91%, 0.39),hsla(0, 0%, 95%, 0.548)), url(image/moon-3295860_1280.jpg);
    background-size: 200vh;
    background-attachment:fixed;
    background-repeat: no-repeat;
    
}
.drop_menu{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255, 255, 255, 0.747);
    display: inline-block;
    font-size: 15px;
    box-sizing: border-box;
    box-shadow: 0px 2px 3px;
    width: 100%;
}
.drop_menu li{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    list-style-type: none;
    width: 170px;
    margin-left: 200px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
.intro{
    font-family: 'Franklin Gothic Medium';
    font-size: 150px;
    height: ;
    width: 60%;
    font-weight: normal;
}
.intro_2{
    font-family: 'Franklin Gothic Medium';
    font-size: 70px;
    width: 100%;
}
.image{
    width: 100%;
    border-radius: 30px;
}
.talk{
    text-align: center;
    cursor: pointer;
}
.container{
    border: 2px solid rgba(0, 0, 0, 0.705);
    border-radius: 30px;
    padding: 2px;
    width: 30%;
    margin: 9px;
    margin-left: 20px;
    background-color: aliceblue;
}
.container_{
    border: 2px solid rgba(0, 0, 0, 0.705);
    border-radius: 30px;
    padding: 2px;
    width: 30%;
    margin-left: 0%;
    margin: 7px;
    float: right;
    background-color: aliceblue;
}
section{
    padding: 3px;
}
section p{
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.me{
    
    width: 20%;
    border: 5px dotted white;
    border-radius: 30px;
    float: right;
    margin: 5px;
}
.drop_menu li:hover{
    color: white;
    background-color: rgb(172, 164, 164);
}
.active{
    border-bottom: 2px solid black;
}
.admin:hover .menu{
    display: block;
}
.display:hover .menu_2{
    display: block;
}
.drop_menu li a{
    text-decoration: none;
    color: black;
    transition: ease;
}
.reg{
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu_2{
    display: block;
    position: absolute;
    box-sizing: border-box;
    display: none;
    max-width: 250px;
    background-color: whitesmoke;
    margin: 0px;
    padding: 1px;
}
.btn{
    width: 50%;
    padding: 7px;
    background-color: white;
    margin: 10px 25% 10px 25%  ;
    border-radius: 3.5px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;


}
.form input:focus{
    background-color: rgba(212, 208, 208, 0.76);
}
.form input{
    width: 98%;
    padding: 3px;
    font-size: 25px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.288);
}
.form label{
    display: block;
    margin-bottom: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.text-danger{
    color: rgb(182, 12, 12);
    font-style: italic;
}
.form{
    margin: 10px 25% 10px 25%  ;
    background: linear-gradient(rgba(255, 255, 255, 0.747),rgba(245, 245, 245, 0.884)) , url(image/\(12\).jpg);
    background-size: cover;
    padding: 10px;
    border-radius: 10px;
    font-size: larger;
}
.idea{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-transform: uppercase;
    width: 60%;
    margin:  0px 25% auto;
}
.name   {
    text-align: center;
    margin-top: 12px;
    font-weight: bold;
    border-bottom: 3px solid rgb(104, 96, 96);
    
}
.subname{
    text-align: center;
    text-transform: capitalize;
    
    margin:  0px 25% auto;
}
.menu{
    display: block;
    position: absolute;
    box-sizing: border-box;
    display: none;
    max-width: 250px;
    background-color: whitesmoke;
    margin: 0px;
    padding: 1px;
}
.logo{
    border-radius: 100px;
    border: 0.5px solid black;

}
.footer{
    height: 50px;
    position: absolute;
    bottom: 0px;
}